.disabled a,
a.disabled {
    pointer-events: none;
}

a:hover {
    color: rgb(204, 0, 0);
}

a {
    color: #ee4e4e;
    text-shadow: #000 0px 0px 0.25em;
}

.side-nav li a:not(.button) {
    color: #ee4e4e;
}

.side-nav li a:not(.button):hover {
    color: rgb(204, 0, 0);
}

header {
    background-color: #D33C44;
    color: #ffffff;
    font-size: 30px;
    height: 84px;
    line-height: 64px;
    padding: 16px 0px;
    box-shadow: 0px 1px rgba(0, 0, 0, 0.24);
}

header .header-title {
    padding-left:80px
}

legend {
    color:rgb(204, 0, 0);
}

.row {
    max-width: 80rem;
}

.actions.columns {
    margin-top:1rem;
    border-left: 5px solid #9d1e1e;
    padding-left: 15px;
    padding: 32px 20px;
}

.actions.columns h3 {
    color:#9d1e1e;
}

.related table {
    border: 0;
    width: 100%;
    table-layout: fixed;
}

.index table thead {
    height: 3.5rem;
}

.header-help {
    float: right;
    margin-right:2rem;
    margin-top: -80px;
    font-size:16px;
}

.header-help span {
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    white-space: nowrap;
    display: inline-block;
    padding: 0.25rem 0.5rem 0.375rem;
    font-size: 0.8rem;
    background-color: #0097a7;
    color: #FFF;
    border-radius: 1000px;
}

.header-help a {
    color: #fff;
}

ul.pagination li a {
    color: rgba(119, 119, 119, 0.54);
}

ul.pagination li.active a {
    background-color: #DCE47E;
    color: #FFF;
    font-weight: bold;
    cursor: default;
}
ul.pagination .disabled:hover a {
    background: none;
}

.paginator {
    text-align: center;
}

.paginator ul.pagination li {
    float: none;
    display: inline-block;
}

.paginator p {
    text-align: right;
    color: rgba(177, 177, 177, 0.54);
}

.asc:after {
    content: " \2193";
}
.desc:after {
    content: " \2191";
}

.form .error-message {
    display: block;
    padding: 0.375rem 0.5625rem 0.5625rem;
    margin-top: -1px;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    font-weight: normal;
    font-style: italic;
    color: rgba(0, 0, 0, 0.54);
}

.required > label {
    font-weight: bold;
}
.required > label:after {
    content: ' *';
    color: #C3232D;
}

select[multiple] {
    min-height:150px;
    background: none;
}
input[type=checkbox],
input[type=radio] {
    margin-right: 0.5em;
}

.date select,
.time select,
.datetime select {
    display: inline;
    width: auto;
    margin-right: 10px;
}

.error label,
.error label.error {
    color: #C3232D;
}

.view h2 {
    color: #6F6F6F;
}

.view .columns.strings {
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-right:0.7rem;
}

.view .numbers {
    background-color: #B7E3EC;
    color: #FFF;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-right: 0.7rem;
}

.view .columns.dates {
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-right:0.7rem;
    background-color:#DCE47E;
    color: #fff;
}

.view .columns.booleans {
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-right:0.7rem;
    background-color: #8D6E65;
    color: #fff;
}

.view .strings p {
    border-bottom: 1px solid #eee;
}
.view .numbers .subheader, .view .dates .subheader {
    color:#747474;
}
.view .booleans .subheader {
    color: #E9E9E9
}

.view .texts .columns {
    margin-top:1.2rem;
    border-bottom: 1px solid #eee;
}

/** Notices and Errors **/
.cake-error,
.cake-debug,
.notice,
p.error,
p.notice {
    display: block;
    clear: both;
    background-repeat: repeat-x;
    margin-bottom: 18px;
    padding: 7px 14px;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
}

.cake-debug,
.notice,
p.notice {
    color: #000000;
    background: #ffcc00;
}

.cake-error,
p.error {
    color: #fff;
    background: #C3232D;
}

pre {
    background: none repeat scroll 0% 0% #FFF;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin: 15px 0px;
    color: rgba(0, 0 ,0 , 0.74);
    padding:5px;
}

.cake-error .cake-stack-trace {
    margin-top:10px;
}

.cake-stack-trace code {
    background: inherit;
    border:0;
}

.cake-code-dump .code-highlight {
    display: block;
    background-color: #FFC600;
}

.cake-error a,
.cake-error a:hover {
    color:#fff;
    text-decoration: underline;
}

.checks {
    padding:30px;
    color: #626262;
    background-color: #B7E3EC;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-bottom: 2em;
}

.checks h4 {
    margin-bottom: 1.5rem;
}

.checks hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.checks .success,
.checks .problem {
    margin-left: 10px;
}
.checks .success:before,
.checks .problem:before {
    line-height: 0px;
    font-size: 28px;
    height: 12px;
    width: 12px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: -11px;
}

.checks .success:before {
    content: "✓";
    color: green;
    margin-right: 9px;
}

.checks .problem:before {
    content: "✘";
    color: red;
    margin-right: 9px;
}

.top-bar.expanded .title-area {
    background: #721212;
}

.top-bar.expanded, .top-bar,.top-bar-section ul li,.top-bar-section li:not(.has-form) a:not(.button) {
    background: #9d1e1e;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
    background-color: #9d1e1e;
    background: #9d1e1e;
}

.side-nav li.heading {
    color: #D4B0B0;
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.4375rem 0.875rem;
}

#actions-sidebar {
    background: #1b1b1b;
}

.index table {
    margin-top: 0rem;
    border: 0;
    width: 100%;
    table-layout: fixed;
}

table {
    background: #353535;
    margin-bottom: 1.25rem;
    border: none;
    table-layout: fixed;
    width: 100%;
}

table thead {
    background: none;
}

table tr {
    border-bottom: 1px solid #ebebec;
}

table thead tr {
    border-bottom: 1px solid #f01f14;
}

table tr th {
    padding: 0.5625rem 0.625rem;
    font-size: 0.875rem;
    color: #f01f14;
    text-align: left;
    border-bottom: 2px solid #f01f14;
}

table tr:nth-of-type(even) {
    background: none;
}

fieldset {
    border: none;
    padding: 1.25rem;
    margin: 1.125rem 0;
}

fieldset legend {
    border-bottom: 2px solid rgb(204, 0, 0);
    width: 100%;
    line-height: 2rem;
}

.form button[type="submit"] {
    float: right;
    text-transform: uppercase;
    box-shadow: none;
}

.form button:hover, .form button:focus {
    background: #444444;
    box-shadow: #000 0 0 1em;
}

button {
    background: #5f5f5f;
}

div.message {
    text-align: center;
    cursor: pointer;
    display: block;
    font-weight: normal;
    padding: 0 1.5rem 0 1.5rem;
    transition: height 300ms ease-out 0s;
    background-color: #f0b7b7;
    color: #626262;
    top: 15px;
    right: 15px;
    z-index: 999;
    overflow: hidden;
    height: 50px;
    line-height: 2.5em;
}

div.message:before {
    line-height: 0px;
    font-size: 20px;
    height: 12px;
    width: 12px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: -11px;
    background-color: #FFF;
    padding: 12px 14px 12px 10px;
    content: "i";
    color: #f0b7b7;
}

div.message.error {
    background-color: #C3232D;
    color: #FFF;
}

div.message.error:before {
    padding: 11px 16px 14px 7px;
    color: #C3232D;
    content: "x";
}
div.message.hidden {
    height: 0;
}


.vertical-table th {
    padding: 0.5625rem 0.625rem;
    font-size: 0.875rem;
    color: #f01f14;
    border: none;
    text-align: left;
}

.vertical-table {
    vertical-align: middle;
}

.vertical-table td {
    text-align: right;
}

.content {
    padding: 2rem;
}

/* Use 'one true layout' methods to get equal height columns */
.container {
    overflow: inherit;
    min-height: 92%; /* full height almost always */
}

/* Force equal height by overflowing */
.content,
#actions-sidebar {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    display: inline-table;
}
@media(max-width: 640px) {
    #actions-sidebar {
        padding-bottom: 2rem;
        margin-bottom: 0;
    }
}

.content h3 {
    color: #f01f14;
    padding-bottom: 0.5rem;
    margin-bottom: 20px;
}

.content h4 {
    color: #be140b;
    padding-bottom: 0.5rem;
    margin-bottom: 20px;
    border-bottom: 2px solid #be140b;
}

.content .related h4 {
    color: #f01f14;
    padding-bottom: 0.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 0px;
}

table td {
    vertical-align: top;
    word-break: break-all;
}

.top-bar-section > .right > li {
    border-left: 1px #df9898 solid;
}

.top-bar-section > .right > li > a {
    text-shadow: #000 0 0 0.25em;
    transition: cubic-bezier(.22,.61,.36,1) 0.33s;
}

.top-bar-section > .right > li > a:hover {
    text-shadow: #fff 0 0.1em 1em;
    font-size: 1.2em;
    height: 5em;
}

.top-bar-section > .right {
    box-shadow: rgba(0, 0, 0, 0.5) -0.25em 0 0.75em;
}

#haram {
    position: sticky;
    z-index: 10;
    height: 6rem;
    transition: cubic-bezier(.22,.61,.36,1) 0.33s;
}

#haram:hover {
    margin: 0.25em;
    height: 5.5rem;
}

/* CSS pour cartes */

.pokes .container {
    max-width: 70%;
    float: none;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
    
    .pokes ul {
      perspective: 600;
      margin: 0 auto;
    }
    
    .pokes li {
      width: 250px;
      height: 420px;
      float: left;
      list-style: none;
      margin-right: 20px;
      margin-bottom: 50px;
      position: relative;
      cursor: pointer;
      counter-increment: item;
    }

    .pokes div {
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 5px;
        transition: all .5s;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.30);
      }
      .pokes img {
        width: 100%;
        display: block;
        margin-bottom: 0.5rem;
        cursor: default;
      }

    .pokes .front {
      z-index: 1;
      color: rgb(22, 22, 22);
      text-align: left;
      line-height: 200px;
      font-size: 80px;
      background: rgb(200, 200, 200);
      background: -webkit-linear-gradient(45deg, rgb(126, 126, 126) 10%, rgb(228, 228, 228) 80%);
      background: linear-gradient(45deg, rgb(126, 126, 126) 10%, rgb(228, 228, 228) 80%);
    }
    
    .pokes .front h4 {
      font-size: 1rem;
      font-weight: bold;
      color: #000;
      padding-bottom: 0;
      padding-left: 0.6em;
      margin-bottom: 0;
    }

    .pokes .front #actions-poke {
        font-size: 1rem;
        padding-left: 1em;
        height: 1.5em;
        box-shadow: none;
        display: block;
        cursor: default;
    }

    .pokes .front #actions-poke a {
        padding: 0;
        margin: 0;
        display: inline;
        position: relative;
        left: 0;
        right: 0;
        bottom: 0;
        top: 1.2em;
        color: #f01f14;
        text-shadow: #fff 0px 0px 0.25em;;
    }

    .pokes .front #infos-poke {
        padding-left: 1rem;
        box-shadow: none;
        cursor: default;
    }

    .pokes .front #infos-poke p {
        line-height: normal;
        text-shadow: #fff 0px 0px 0.25em;;
        font-weight: bold;
    }

    .pokes .front p {
        margin-bottom: 0;
    }

    .pokes .container .row {
      width: 100%;
    }

  .pokes .input {
      position: static;
  }